*{
    margin: 0;
    padding: 0;
}

main, header{
    width: 100%;
    margin: 0 auto;
}

.newyearposter{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url("../resources/Banner\ Image.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 16px;
    display: block;
}

.small-title{
    text-align: center;
    padding-top: 177px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 0px;
}

.large-title{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 177px;
}

/* section 1  */
.section1-container{
    text-align: center;
    margin-top: 120px;
}

.section1-img{ 
   text-align: center;
   margin-bottom: 120px;
}

.section1-title{
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
}

.section1-subtitle1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0px;
}

.section1-subtitle2{
    color: #070211;
    font-family: Inter;
    font-size: 48px; 
    font-style: normal;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}





/* section 2 */

.section2{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    align-items: center;
    margin-bottom: 120px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.section2-container{
    
}

.section2-title{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 0px;
    margin-left: 126px;
}

.section2-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 48px;
    margin-left: 126px;
}

.section2-button{
    margin-top: 0px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: black;
    margin-left: 158px;
    border: 0;
}

.section2-image{
    margin-top: 68px;
    margin-bottom: 68px;
    margin-right: 138px;
}





/* section 3 starts */


.section3{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 120px;
}

.section3-textcolor{
    color: #F00;
}

.section3-text{
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    padding-top: 100px;
    margin-bottom: 48px;
}

.section3-button{
    padding: 16px 32px;
    
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    margin-bottom: 110px;
}






/* section 4 starts */

.section4{
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 15px;
    margin-bottom: 120px;
}

.section4-container{
    display: flex;
    align-items: center;
    gap: 67px;
}

.section4-left-text1{
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.section4-left-text2{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 22px;
}

.section4-left-text3{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 0px;
}

.section4-center{
    margin-left: 0px;
}

.section4-center>img{
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 39px;
}


.section4-right-text1{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 122px;
    margin-left: 40px;
}

.section4-right-text2{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 0px;
    margin-bottom: 39px;
    margin-left: 40px;
}

.section4-right>img{
    margin-left: 40px;
}

.zoom{
    transition: transform 0.3s ease-in-out;
}
.zoom:hover{
    transform: scale(1.1);
}





/* section 5 starts */

.section5{
    margin-left: 140px;
    margin-right: 140px;
    /* margin-bottom: 64px; */
    margin-bottom: 185px;
    text-align: center;
}

.section5-title1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.section5-title2{
    color: #070211;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 28px;
}

.section5-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    margin-top: 0px;
}






/* section 6 starts confusions!!!!!!!!!!!*/   
.section6{
    margin-bottom: 120px;
    margin-left: 140px;
    margin-right: 140px;
}

.section6-container{
    position: relative;
}

.mohila{
    position: absolute;
    margin-left: 810px;
    margin-top: -433px;
}

.discount{
    position: absolute;
    margin-left: 645px;
    z-index: 1;
    margin-top: -370px;
}

.purushkar{
 position: relative;
 margin-bottom: -200px;
 z-index: 1;  
}








/* section 7 starts */

.section7{
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    margin-top: 0px;
    /* margin-top: 600px; */
}

.section7-title1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

.section7-title2{
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 22px;
}

.section7-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-top: 0px;
    margin-bottom: 48px;
}

.section7-image-container img{
    width: 31.5%;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.section7-image-container img:hover{
    transform: scale(1.1);
}




/* section 8 starts */

.section8{
    margin-left: 140px;
    margin-right: 140px;
    text-align: center;
    margin-bottom: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.section8-image{
    margin-top: 80px;
    margin-bottom:40px;
    transform: scale(1.1);
}

.section8-title{
    margin-top: 0px;
    margin-bottom: 22px;
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 400px;
    margin-right: 400px;
}

.section8-description{
    margin-top: 0px;
    margin-bottom: 48px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 200px;
    margin-right: 200px;
}

.section8-input{
    margin-top: 0px;
    margin-bottom: 80px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border-radius: 50px 0px 0px 50px;
    padding: 24px 267px 24px 30px;
    border: 0;
}
.section8-button{
    margin-top: 0px;
    margin-bottom: 80px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    border: 0;
    padding: 22.5px 56px 24px 56px;
}

.section8-devices{
    align-items: center;
}



/* footer starts from here */

.footer{
    background-color: #070211;

    ;
}

.topfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 50px;
}

.topleft{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
}

.topright{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    
}

.topright a{
    text-decoration: none;
    list-style: none;
    color: #FFF;
}

.footericons{
    padding-right: 16px;
}

#hrone{
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 48px;
    margin-left: 140px;
    margin-right: 140px;
}

#hrtwo{
    background: rgba(255, 255, 255, 0.15);
    margin-top: 48px;
    margin-bottom: 50px;
    margin-left: 140px;
    margin-right: 140px;
}

.centerfooter{
    text-align: center;
}

.centerfooter img{
    padding-right:  24px;
}

.bottomfooter{
    display: flex;
    padding-top: 0px;
    padding-bottom: 120px;
    padding-left: 140px;
    padding-right: 140px;
    justify-content: space-between;
}

.bottomfooter-left, .bottomfooter-right{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.bottomfooter-right{
   background-color: #070211;
   border: 0;
}

